.nav {
  position: fixed;
  z-index: 2;
  background-color: lightblue;
  width: 100%;
  margin-top: 0 auto;
  text-align: center;
  height: 75px;
}

#nathan {
   width: 500px;
   height: 300px;
}

#LandA {
  width: 400px;
  height: 300px;
}

#shibs {
  width: 500px;
  height: 260px;
}

#hayden1 {
  width: 400px;
  height: 260px;
}

#hayden2 {
   width: 300px;
   height: 400pxl;
}

#theatre1 {
  height: 260px;
  width: 600px;
}

h1 {
  text-align: center;
  color: #0000CD;
}
