.nav {
  position: fixed;
  z-index: 2;
  background-color: lightblue;
  width: 100%;
  margin-top: 0 auto;
  text-align: center;
  height: 75px;
}

img#game {
  height: 300px;
  width: 500px;
  border: 5px solid #ddd;
}

h1 {
  text-align: center;
  color: #0000CD;
}
