.nav {
  position: fixed;
  z-index: 2;
  background-color: lightblue;
  width: 100%;
  margin-top: 0 auto;
  text-align: center;
  height: 75px;
}

img#game {
  height: 300px;
  width: 500px;
  border: 5px solid #ddd;
}

body {
  background-color: #F0F8FF;
}

footer {
  background-color: #F0FFFF;
}

h1 {
  text-align: center;
  color: #0000CD;
  font-style: italic;
}

h3 {
  text-decoration: underline;
  color: #4B0082;
  font-size: 25px;
  font-weight: bold;
}

p {
  color: #3CB371;
  font: 15px Arial,sans-serif;
}

ol {
  color: #40E0D0;
  font: 15px Arial,sans-serif;
}

a:hover {
  background-color: #E6E6FA;
}
