/* marquee in html*/
.nav {
  position: fixed;
  z-index: 2;
  background-color: lightblue;
  width: 100%;
  margin-top: 0 auto;
  text-align: center;
  height: 75px;
}

img#rink {
  border: 5px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}

img#boot {
  width: 800px;
  height: 500px;
  border: 5px solid #ddd;
}

h1 {
  text-align: center;
  color: #0000CD;
  font-style: italic;
}

h3{
  color: #8B008B;
  text-decoration: underline;
  font-size: 23px;
  font-weight: bold;
}

p {
  color: #9932CC;
  font: 16px Arial,sans-serif;
}

ul{
  color: #DA70D6;
  font: 15px Arial,sans-serif;
}
