.nav {
  position: fixed;
  z-index: 2;
  background-color: lightblue;
  width: 100%;
  margin-top: 0 auto;
  text-align: center;
  height: 75px;
}

img#rink {
  border: 5px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}

img#boot {
  width: 800px;
  height: 500px;
  border: 5px solid #ddd;
}

h1 {
  text-align: center;
  color: #0000CD;
}

h3{
  color: #8B008B;
  font-size: 23px;
}

p {
  color: #9932CC;
  font-size: 20px;
}

ul{
  color: #DA70D6;
}
